{% extends "index.html"%}
{% load static %}
{% block contenido%}
<head>
	<link rel="stylesheet" href="{% static '/css/cartas.css' %}">
</head>

{{ mensaje }}
<form action="/repuestosDongFeng/A60" method="post">
	{% csrf_token %}
		<div class="col-8 col-sm-4">	
			<input type="hidden" name="txtId" class="from-control" value="{{ item.id }}">
		</div>

		<div class="col-12 col-sm-6">	
			<input type="hidden" name="txtNombre" class="from-control" value="{{ item.nombre }}">
		</div>
		<div class="col-12 col-sm-6">	
			<input type="hidden" name="txtDescripcion" class="from-control" value="{{ item.descripcion }}">
		</div>
	</div>	
<!-- Boton filtrar -->
<div class="row justify-content-center">
	<div id="fondofiltro">
		<div id="filtro" class="row justify-content-center" >
			<select class="col-3 wpcf7-form-control form-control">
				<option value="Categoria">Categoria
			</select> 
			<select style="margin-left: 20px;" class="col-3 wpcf7-form-control form-control" >
				<option value="Familia">Familia
			</select> 
			<div>
				<button style="margin-left: 20px;" type="sumbit" name="btnListar" class="btn btn-outline-light" >Filtrar</button>
			</div>
		</div>
	</div>
</div>
</form>
{% endblock %}
<!-- Bloque dinamico que muestra repuestos filtrados -->
{% block listado %}

<head>
	<link rel="stylesheet" href="{% static '/css/cartas.css' %}">
</head>
{% for fila in lista %}
<div class ="row">
			<div class="carta">
				<div class="offset-4" style="background-color: white; width: 300px; padding-bottom: 30px; padding-top: 30px;">	
					<img id="foto" src="" alt="No se encontro la imagen" >
					<h3 style="color: rgba(248, 1, 1, 0.802); font-family: Segoe UI ;">{{ fila.nombreRepuesto }}</h3>
					<p id="espacio"> Modelo: {{ fila.marca }} {{ fila.modelo }}</p>
					<p style="color: gray; font-size: 12px;"> Stock disponible: {{ fila.stock }}</p>
					<h4 style="color: green;" >
						<strong> ${{ fila.precioVenta }}</strong>	
					</h4>
					<button id="producto" class="btn btn-info">Agregar al Carrito</button>
				</div>
			</div>
		</div>	
{% endfor %}
			</div>
			<div class="row justify-content-center">
				<h1 class="diseño">Todos los Repuestos</h1>
			</div>	
{% endblock %}

<!-- Bloque dinamico que muestra todos los repuestos -->
{% block extra %}
<head>
	<link rel="stylesheet" href="{% static '/css/cartas.css' %}">
</head>
{% for fila in ver %}
	{% if forloop.first %}
	<div class="row">
	{% endif %}
		<div class ="row justify-content-center">
			<div class="carta">
				<div class="offset-4" style="background-color: white; width: 300px; padding-bottom: 30px; padding-top: 30px;">	
					<img id="foto" src="" alt="No se encontro la imagen" >
					<h3 style="color: rgba(248, 1, 1, 0.802); font-family: Segoe UI ;">{{ fila.nombreRepuesto }}</h3>
					<p id="espacio"> Modelo: {{ fila.marca }} {{ fila.modelo }}</p>
					<p style="color: gray; font-size: 12px;"> Stock disponible: {{ fila.stock }}</p>
					<h4 style="color: green;" >
						<strong> ${{ fila.precioVenta }}</strong>	
					</h4>
					<button id="producto" class="btn btn-warning">Agregar al Carrito</button>
				</div>
			</div>
		</div>	
	{% if forloop.counter|divisibleby:34 %}
	</div>
	<div class="row">
	{% endif %}
	{% if forloop.last %}
	</div>
	{% endif %}											
{% endfor %}
{% endblock %}