{% extends "index.html" %}
{% load static %}
{% block contenido %}

<!-- Función Buscar -->
			<br>
				<form class="offset-2 col-8" method="post" action="{% url 'buscar' %}">
					{% csrf_token %}
					<div id="custom-search-input">
						<div class="input-group col-md-12">
							<input class="form-control" type="txt" name="txtBuscar" placeholder="Búsqueda rápida" aria-label="Search">
								<span class="input-group-list">
								  <i class="icon icon-search"></i>
									<button class="btn btn-outline-dark" type="submit">
							<!-- Diseño de lupa -->
									 <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										 <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
										 <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
									 </svg>
									</button>
								</span>
						</div>
					</div>
				</form>
				<!-- Botón volver -->
				<a href="/Repuestos" style="float: right;">
					<button class="btn btn-info">Volver</button>
				</a>
<br>
<div class ="row justify-content-center" style="text-decoration: underline overline;">
	<h2> Resultado de búsqueda </h2>
</div>
{% endblock %}

{% block listado %}
<head>
	<link rel="stylesheet" href="{% static '/css/cartas.css' %}">
</head>
<!-- Mostrar productos buscados -->
{% for mostrar in item %}
	{% if forloop.first %}
	<div class="row">
	{% endif %}
		<div class ="row justify-content-center">
			<div class="carta">
				<div class="offset-4" style="background-color: white; width: 300px; padding-bottom: 30px; padding-top: 30px;">	
					<img id="foto" src="" alt="No se encontro la imagen" >
					<h3 style="color:brown">{{ mostrar.nombreRepuesto }}</h3>
					<p id="espacio">{{ mostrar.descripcion }}</p>
					<h4>${{ mostrar.precioVenta }}</h4>
					<button id="producto" class="btn btn-warning">Agregar al Carrito</button>
				</div>
			</div>
		</div>	
	{% if forloop.counter|divisibleby:34 %}
	</div>
	<div class="row">
	{% endif %}
	{% if forloop.last %}
	</div>
	{% endif %}											
{% endfor %}
<br>
{% endblock %}