{% extends "index.html"%}
{% load static %}
{% load widget_tweaks %}
{% block contenido%}
<head>
	<link rel="stylesheet" type="text/css" href="{% static '/css/styles/bootstrap4/bootstrap.min.css' %}">
	<link href="{%static '/css/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static '/css/styles/portfolio.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/portfolio_responsive.css' %}">
	<link rel="stylesheet" href="{% static '/css/estilos.css' %}">
	<link rel="stylesheet" href="{% static '/css/formulario.css' %}">
</head>

<body>
<form method="post" action="." enctype="multipart/form-data">
<div class="super_container">
	<!-- Titulo de página -->
	<div class="home">
		<div class="home_background_container prlx_parent" style="height: 300px;">
			<div class="home_background prlx" 
				style="background-image:url(https://media-exp1.licdn.com/dms/image/C511BAQFUv1ORw68pFg/company-background_10000/0/1568018786413?e=2159024400&v=beta&t=AVEB9CrYCtK4cDdlFNJbG7Ok8zuP1Hfru3ejCLimL70);">
			</div>
		</div>
		
		<div class="home_title">
			<h2> Consultar Repuesto </h2>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-10">
			<p style="color: #808080;">Llena el formulario con los datos solicitados y nos comunicaremos con usted.</p>
			<p style="color: #808080;">O llama al 22 730 7280 (Central) o al 22 730 7629 – 22 730 7617 y nuestra mesa de atención te asesorara en tu compra.</p>
		</div>
	</div>
<!--Formulario-->

	<div class="row justify-content-center">
		<div class="col-10">
		<div class="mt-4">
			<p>Datos del cliente</p>
			<!-- Nombre y apellido -->
			<div class="form-row">
				<div class="form-group col-md-4" style="margin: 10px;">
					
				   <span class="wpcf7-form-control-wrap nombre">
						<input type="text" name="nombre" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Nombre">
				   </span>
				</div>
				<div class="form-group col-md-4" style="margin: 10px;">
				   <span class="wpcf7-form-control-wrap apellidos">
						<input type="text" name="apellidos" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Apellidos">
				   </span>
				</div>    
			</div>
		    <!-- Mail y Telefono -->
			<div class="form-row">
				<div class="form-group col-md-4" style="margin: 10px;">
					<span class="wpcf7-form-control-wrap email">
						<input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Email">
					</span>
				</div>
				<div class="form-group col-md-4" style="margin: 10px;">
				    <span class="wpcf7-form-control-wrap fono">
						<input type="tel" name="fono" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control" aria-required="true" aria-invalid="false" placeholder="Teléfono">
					</span>
				</div>  
			</div>
		
			<p class="mt-4">Datos del vehículo</p>
			<!-- Marca, modelo y chasis -->
			<div class="form-row">
				<div class="form-group col-md-4" style="margin: auto;">
					<span class="wpcf7-form-control-wrap marca">
						<input type="text" name="marca" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Marca">
					</span>
				</div>
				<div class="form-group col-md-4" style="margin: auto;">
					<span class="wpcf7-form-control-wrap modelo">
						<input type="text" name="modelo" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Modelo">
					</span>
				</div>
				<div class="form-group col-md-4" style="margin: auto;">
					<span class="wpcf7-form-control-wrap chasis">
						<input type="text" name="chasis" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="chasis" aria-required="true" aria-invalid="false" placeholder="N° chasis">
					</span>
				</div>    
			</div>

			<br>
				<div class="form-group">
					<label>Localidad: </label>
					{{ form.localidades }}
				</div>
				<div class="form-group">
					<label>Comuna: </label>
					{{ form.comunas }}
				</div>
			
	</form>
	<script>
	

	$(function () {
			$('select[name="localidades"]').on('change', function () {
				var id = $(this).val();
				var select_comunas = $('select[name="comunas"]');
				var options = '<option value="">---------</option>';
				$.ajax({
					url: window.location.pathname,
					type: 'POST',
					data: {
						'action': 'search_comuna_id',
						'id': id
					},
					dataType: 'json',
				}).done(function (data) {
					if (!data.hasOwnProperty('error')) {
						$.each(data, function (key,value) {
							options += '<option value ="'+value.id+'">'+value.name+'</option>';
						});
						return false;
					}
					}).fail(function(jqXHR, textStatus, errorThrown) {
						alert(textStatus + ': ' + errorThrown);
					}).always(function(data) {
						select_comunas.html(options);
					});
			});
		});
	</script>
		   <p class="mt-4">Repuesto solicitado</p>
			<div class="form-row">
				<div class="form-group col-md-12" style="margin: auto;">
					<span class="wpcf7-form-control-wrap comentarios">
						<textarea name="comentarios" cols="40" rows="3" maxlength="500" minlength="10" class="wpcf7-form-control wpcf7-textarea form-control" aria-invalid="false" placeholder="Comentarios"></textarea>
					</span>
					<small>*Máximo 500 caracteres</small>
				</div>
		 
			 <div class="form-group col-md-12">
					<label>Adjuntar foto del Repuesto 
						<span class="text-danger">(opcional)</span> 
					</label>
					<div class="custom-file">
						<span class="wpcf7-form-control-wrap foto" style="margin: auto;">
							<input type="file" name="foto" size="40" class="wpcf7-form-control wpcf7-file custom-file-input" id="customFile" accept=".jpg,.jpeg" aria-invalid="false">
						</span>
						<label class="custom-file-label text-left" for="customFile">Foto del Repuesto</label>
					</div>
				 </div>
			   <small>*Peso máximo de 2Mb</small>
			</div>
			
			<div class="d-flex justify-content-end">
				<button type="submit" class="btn btn-danger pull-right">ENVIAR</button>
			</div>
		</div>   
		</div>
	</div>
<script src="https://kit.fontawesome.com/2c36e9b7b1.js"></script>
<script src="{% static '/js/main.js' %}"></script>
<script src="{% static '/js/jquery-3.2.1.min.js' %}"></script>	
	

</body>
{% endblock %}