{% extends "index.html"%}
{% load static %}
{% block contenido%}
<head>
	<link rel="stylesheet" href="{% static 'css/baseinicio.css' %}">
</head>
<section><!-- Carrusel -->
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- imagen 1 -->            
			<div class="carousel-item active">
                <a href="">
                     <picture>
                      <img src="{% static '/img/fotos/REPUESTOS1.png' %}" alt="responsive image" class="d-block img-fluid">
                      </picture>
                </a> 
            </div>
            <!-- imagen 2-->
            <div class="carousel-item">
                <a href="">
                     <picture>
                      <img src="{% static '/img/fotos/REPUESTOS2.png' %}"  alt="responsive image" class="d-block img-fluid"> 
                    </picture>
                </a>
            </div>
        </div>
        <!-- Flechas -->
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- /.carousel -->
</section>			
<!-- Función Buscar -->
			<br>
				<form class="offset-2 col-8" method="post" action="{% url 'buscar' %}">
					{% csrf_token %}
					<div id="custom-search-input">
						<div class="input-group col-md-12">
							<input class="form-control" type="txt" name="txtBuscar" placeholder="Búsqueda rápida" aria-label="Search">
								<span class="input-group-list">
								  <i class="icon icon-search"></i>
									<button class="btn btn-outline-dark" type="submit">
							<!-- Diseño de lupa -->
									 <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										 <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
										 <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
									 </svg>
									</button>
								</span>
						</div>
					</div>
				</form>



<form method="post" action="/probar" enctype="multipart/form-data" >
	<br>
	{% csrf_token %}
	<div class="row justify-content-center ">
		<div class="col-3">
				<div class="form-group"> 
					<input type="hidden" name="txtCategoria"  value="{{ item.categorias }}">
						<label>Categoria</label>
						{{ form.categorias }}
				</div>
		</div>
		<div class="col-3">
				<div class="form-group">
					<input type="hidden" name="txtRepuesto"  value="{{ item.repuesto }}">
						<label>Repuesto: </label>
						{{ form.repuestos }}
				</div>
		</div>
		<div class="col-3">
				<div class="form-group">
					<input type="hidden" name="txtMarca"  value="{{ item.marca }}">
						<label>Marca: </label>
						{{ form.marcas }}
				</div>
		</div>
		<div class="col-3">
				<div class="form-group">
					<input type="hidden" name="txtModelo"  value="{{ item.modelo }}">
						<label>Modelo: </label>
						{{ form.modelos }}
				</div>
		</div>
		<button>
		
	</div>
</form>
	
<script>
	$(function () {
			$('select[name="categorias"]').on('change', function () {
				var id = $(this).val();
				var select_repuestos = $('select[name="repuestos"]');
				var options = '<option value="">---------</option>';
				if(id == '') {
					select_repuestos.html(options);
					return false;
					}
				$.ajax({
					url: window.location.pathname,
					type: 'POST',
					data: {
						'action': 'search_repuesto_id',
						'id': id
					},
					dataType: 'json',
				}).done(function (data) {
					if (!data.hasOwnProperty('error')) {
						$.each(data, function (key,value) {
							options += '<option value ="'+value.id+'">'+value.name+'</option>';
						});
						return false;
					}
					}).fail(function(jqXHR, textStatus, errorThrown) {
						alert(textStatus + ': ' + errorThrown);
					}).always(function(data) {
						select_repuestos.html(options);
					});
						var select_marcas = $('select[name="marcas"]');
						var ver = '<option value="">---------</option>';
						var select_modelos = $('select[name="modelos"]');
						var opcion = '<option value="">---------</option>';
						$.ajax({
							url: window.location.pathname,
							type: 'POST',
							data: {
								'action': 'search_modelo_id',
								'cod': id
							},
							dataType: 'json',
						}).done(function (data) {
							if (!data.hasOwnProperty('error')) {
								$.each(data, function (key,value) {
									opcion += '<option value ="'+value.id+'">'+value.name+'</option>';
								});
								return false;
							}
							}).fail(function(jqXHR, textStatus, errorThrown) {
								alert(textStatus + ': ' + errorThrown);
							}).always(function(data) {
								select_marcas.html(ver);
								select_modelos.html(opcion);
							});
			});
		});
	</script>
	
{% endblock %}