{% extends "index.html" %}
{% load static %}
{% block contenido %}
<head>
	<link rel="stylesheet" href="{% static '/css/cartas.css' %}">
</head>
<!-- Mostrar productos buscados -->
{% for mostrar in item %}
	{% if forloop.first %}
	<div class="row">
	{% endif %}
		<div class ="row justify-content-center">
			<div class="carta">
				<div class="offset-4" style="background-color: white; width: 300px; padding-bottom: 30px; padding-top: 30px;">	
					<img id="foto" src="{{ fila.imagen.url }}" alt="No se encontro la imagen" >
					<h3 style="color: rgba(248, 1, 1, 0.802); font-family: Segoe UI ;">{{ mostrar.nombreRepuesto }}</h3>
					<p id="espacio"> Modelo: {{ mostrar.marca }} {{ mostrar.modelo }}</p>
					<p style="color: gray; font-size: 12px;"> Stock disponible: {{ mostrar.stock }}</p>
					<h4 style="color: green;" >
						<strong> ${{ mostrar.precioVenta }}</strong>	
					</h4>
					<button id="producto" class="btn btn-warning">Agregar al Carrito</button>
				</div>
			</div>
		</div>	
	{% if forloop.counter|divisibleby:34 %}
	</div>
	<div class="row">
	{% endif %}
	{% if forloop.last %}
	</div>
	{% endif %}											
{% endfor %}
<br>
{% endblock %}