{% extends "index.html" %}
	{% block contenido %}
	
<br>	
<div class = "row">
	<div class ="row justify-content-center">
		<div class="offset-4" style="background-color: white;">	
			<div class="table-responsive">
							<img src="">
							<h3 style="color:brown">nombre</h3>
							<h4>$5464</h4>
							<button id="producto" class="btn btn-warning">Agregar al Carrito</button>
							<p id="espacio">asdasdasdasd</p>
			</div>	
		</div>	
	</div>	

	<div class ="row justify-content-center">
		<div class="offset-4" style="background-color: white;">	
			<div class="table-responsive">
							<img src="">
							<h3 style="color:brown">nombre</h3>
							<h4>$5464</h4>
							<button id="producto" class="btn btn-warning">Agregar al Carrito</button>
							<p id="espacio">asdasdasdasd</p>
			</div>	
		</div>	
	</div>	

	<div class ="row justify-content-center">
		<div class="offset-4" style="background-color: white;">	
			<div class="table-responsive">
							<img src="">
							<h3 style="color:brown">nombre</h3>
							<h4>$5464</h4>
							<button id="producto" class="btn btn-warning">Agregar al Carrito</button>
							<p id="espacio">asdasdasdasd</p>
			</div>	
		</div>	
	</div>	

	<div class ="row justify-content-center">
		<div class="offset-4" style="background-color: white;">	
			<div class="table-responsive">
							<img src="">
							<h3 style="color:brown">nombre</h3>
							<h4>$5464</h4>
							<button id="producto" class="btn btn-warning">Agregar al Carrito</button>
							<p id="espacio">asdasdasdasd</p>
			</div>	
		</div>	
	</div>	
</div>

		<br> 
	{% endblock %}