{% extends "index.html" %}
	{% block contenido %}
	
<br>	
{% for mostrar in item %}
{% if forloop.first %}<div class="row">{% endif %}
<div class="prod">
	<div class ="row justify-content-center">
		<div class="offset-4" style="background-color: white;">	
			<div class="table-responsive">
							<img src="">
							<h3 style="color:brown">{{ mostrar.nombreRepuesto }}</h3>
							<h4>${{ mostrar.precioVenta }}</h4>
							<button id="producto" class="btn btn-warning">Agregar al Carrito</button>
							<p id="espacio">{{ mostrar.descripcion }}</p>
			</div>	
		</div>	
	</div>	
</div>
	{% if forloop.counter|divisibleby:34 %}</div><div class="row">{% endif %}
	{% if forloop.last %}</div>{% endif %}											
{% endfor %}

		<br> 
	{% endblock %}