<!DOCTYPE html>
{% load static %}
{% block contenido%}
<head>
<title>CidefChile - Repuesto</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Cidef Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static '/css/styles/bootstrap4/bootstrap.min.css' %}">
<link href="{%static '/css/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static '/css/styles/portfolio_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/portfolio_responsive.css' %}">
<link rel="stylesheet" href="{% static '/css/estilos.css' %}">
</head>

<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header d-flex flex-row justify-content-end align-items-center trans_200">
		
		<!-- Logo -->
		<div class="logo mr-auto">
			<a href="#">CIDEF<span>CHILE</span></a>
		</div>

		<!-- Navigation -->
		<nav class="menu" id="menu">
		<div class="contenedor contenedor-botones-menu">
			<button id="btn-menu-barras" class="btn-menu-barras"><i class="fas fa-bars"></i></button>
			<button id="btn-menu-cerrar" class="btn-menu-cerrar"><i class="fas fa-times"></i></button>
		</div>

		<div class="contenedor contenedor-enlaces-nav">
			<div class="btn-departamentos" id="btn-departamentos">
				<p>Catalogo <span>Digital</span></p>
				<i class="fas fa-caret-down"></i>
			</div>

			<div class="enlaces">
				<a href="#">Cuenta</a>
				<a href="#">Sucursales</a>
				<a href="#">Servicio Tecnico</a>
				<a href="#">Ayuda</a>
			</div>
		</div>

		<div class="contenedor contenedor-grid">
			<div class="grid" id="grid">
				<div class="categorias">
					<button class="btn-regresar"><i class="fas fa-arrow-left"></i> Regresar</button>
					<h3 class="subtitulo">Categorias</h3>

					<a href="#" data-categoria="tecnologia-y-computadoras">Tecnología y Computadoras <i class="fas fa-angle-right"></i></a>
					<a href="#" data-categoria="libros">Libros <i class="fas fa-angle-right"></i></a>
					<a href="#" data-categoria="ropa-y-accesorios">Ropa y Accesorios <i class="fas fa-angle-right"></i></a>
					<a href="#" data-categoria="hogar-y-cocina">Hogar y Cocina <i class="fas fa-angle-right"></i></a>
					<a href="#" data-categoria="juegos-y-juguetes">Juegos y Juguetes <i class="fas fa-angle-right"></i></a>
					<a href="#" data-categoria="salud-y-belleza">Salud y Belleza <i class="fas fa-angle-right"></i></a>
					<a href="#" data-categoria="alimentos-y-bebidas">Alimentos y Bebidas <i class="fas fa-angle-right"></i></a>
				</div>

				<div class="contenedor-subcategorias">
					<div class="subcategoria " data-categoria="tecnologia-y-computadoras">
						<div class="enlaces-subcategoria">
							<button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
							<h3 class="subtitulo">Tecnología y Computadoras</h3>
							<a href="#">Laptops</a>
							<a href="#">Tablets</a>
							<a href="#">Computadoras de Escritorio</a>
							<a href="#">Monitores</a>
							<a href="#">Componentes</a>
						</div>

						<div class="banner-subcategoria">
							<a href="#">
								<img src="./img/tecnologia-banner-1.png" alt="">
							</a>
						</div>

						<div class="galeria-subcategoria">
							<a href="#">
								<img src="./img/tecnologia-galeria-1.png" alt="">
							</a>
							<a href="#">
								<img src="./img/tecnologia-galeria-2.png" alt="">
							</a>
							<a href="#">
								<img src="./img/tecnologia-galeria-3.png" alt="">
							</a>
							<a href="#">
								<img src="./img/tecnologia-galeria-4.png" alt="">
							</a>
						</div>
					</div>

					<div class="subcategoria" data-categoria="libros">
						<div class="enlaces-subcategoria">
							<button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
							<h3 class="subtitulo">Libros</h3>
							<a href="#">Top Sellers</a>
							<a href="#">Ciencia Ficcion</a>
							<a href="#">Fantasia</a>
							<a href="#">Miedo</a>
						</div>

						<div class="banner-subcategoria">
							<a href="#">
								<img src="./img/libros-banner-1.png" alt="">
							</a>
						</div>

						<div class="galeria-subcategoria">
							<a href="#">
								<img src="./img/libros-galeria-1.png" alt="">
							</a>
							<a href="#">
								<img src="./img/libros-galeria-2.png" alt="">
							</a>
							<a href="#">
								<img src="./img/libros-galeria-3.png" alt="">
							</a>
							<a href="#">
								<img src="./img/libros-galeria-4.png" alt="">
							</a>
						</div>
					</div>

					<div class="subcategoria" data-categoria="ropa-y-accesorios">
						<div class="enlaces-subcategoria">
							<button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
							<h3 class="subtitulo">Ropa y Accesorios</h3>
							<a href="#">Ropa</a>
							<a href="#">Zapatos</a>
							<a href="#">Accesorios</a>
							<a href="#">Relojes</a>
						</div>

						<div class="banner-subcategoria">
							<a href="#">
								<img src="./img/ropa-banner-1.png" alt="">
							</a>
						</div>

						<div class="galeria-subcategoria">
							<a href="#">
								<img src="./img/ropa-galeria-1.png" alt="">
							</a>
							<a href="#">
								<img src="./img/ropa-galeria-2.png" alt="">
							</a>
							<a href="#">
								<img src="./img/ropa-galeria-3.png" alt="">
							</a>
							<a href="#">
								<img src="./img/ropa-galeria-4.png" alt="">
							</a>
						</div>
					</div>

					<div class="subcategoria" data-categoria="hogar-y-cocina">
						<div class="enlaces-subcategoria">
							<button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
							<h3 class="subtitulo">Hogar y Cocina</h3>
							<a href="#">Cocina</a>
							<a href="#">Electrodomesticos</a>
							<a href="#">Limpieza</a>
							<a href="#">Baño</a>
							<a href="#">Decoracion</a>
							<a href="#">Arte</a>
							<a href="#">Manualidades</a>
							<a href="#">Jardin</a>
						</div>

						<div class="banner-subcategoria">
							<a href="#">
								<img src="./img/hogar-banner-1.png" alt="">
							</a>
						</div>

						<div class="galeria-subcategoria">
							<a href="#">
								<img src="./img/hogar-galeria-1.png" alt="">
							</a>
							<a href="#">
								<img src="./img/hogar-galeria-2.png" alt="">
							</a>
							<a href="#">
								<img src="./img/hogar-galeria-3.png" alt="">
							</a>
							<a href="#">
								<img src="./img/hogar-galeria-4.png" alt="">
							</a>
						</div>
					</div>

					<div class="subcategoria" data-categoria="juegos-y-juguetes">
						<div class="enlaces-subcategoria">
							<button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
							<h3 class="subtitulo">Juegos y Juguetes</h3>
							<a href="#">Juguetes</a>
							<a href="#">Juegos de Mesa</a>
							<a href="#">Aire Libre</a>
							<a href="#">Muñecas</a>
						</div>

						<div class="banner-subcategoria">
							<a href="#">
								<img src="./img/juegos-banner-1.png" alt="">
							</a>
						</div>

						<div class="galeria-subcategoria">
							<a href="#">
								<img src="./img/juegos-galeria-1.png" alt="">
							</a>
							<a href="#">
								<img src="./img/juegos-galeria-2.png" alt="">
							</a>
							<a href="#">
								<img src="./img/juegos-galeria-3.png" alt="">
							</a>
							<a href="#">
								<img src="./img/juegos-galeria-4.png" alt="">
							</a>
						</div>
					</div>

					<div class="subcategoria" data-categoria="salud-y-belleza">
						<div class="enlaces-subcategoria">
							<button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
							<h3 class="subtitulo">Salud y Belleza</h3>
							<a href="#">Cuidado de la Piel</a>
							<a href="#">Maquillaje</a>
							<a href="#">Lociones</a>
							<a href="#">Shampoo</a>
						</div>

						<div class="banner-subcategoria">
							<a href="#">
								<img src="./img/belleza-banner-1.png" alt="">
							</a>
						</div>

						<div class="galeria-subcategoria">
							<a href="#">
								<img src="./img/belleza-galeria-1.png" alt="">
							</a>
							<a href="#">
								<img src="./img/belleza-galeria-2.png" alt="">
							</a>
							<a href="#">
								<img src="./img/belleza-galeria-3.png" alt="">
							</a>
							<a href="#">
								<img src="./img/belleza-galeria-4.png" alt="">
							</a>
						</div>
					</div>

					<div class="subcategoria" data-categoria="alimentos-y-bebidas">
						<div class="enlaces-subcategoria">
							<button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
							<h3 class="subtitulo">Alimentos y Bebidas</h3>
							<a href="#">Alimentos</a>
							<a href="#">Bebidas</a>
						</div>

						<div class="banner-subcategoria">
							<a href="#">
								<img src="./img/comida-banner-1.png" alt="">
							</a>
						</div>

						<div class="galeria-subcategoria">
							<a href="#">
								<img src="./img/comida-galeria-1.png" alt="">
							</a>
							<a href="#">
								<img src="./img/comida-galeria-2.png" alt="">
							</a>
							<a href="#">
								<img src="./img/comida-galeria-3.png" alt="">
							</a>
							<a href="#">
								<img src="./img/comida-galeria-4.png" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>

		<!-- Hamburger -->
		<div class="hamburger_container bez_1">
			<i class="fas fa-bars trans_200"></i>
		</div>
		
	</header>

	<!-- Menu -->

	<div class="menu_container">
		<div class="menu menu_mm text-right">
			<div class="menu_close"><i class="far fa-times-circle trans_200"></i></div>
			<ul class="menu_mm">
				<li class="menu_mm"><a href="index.html">Home</a></li>
				<li class="menu_mm"><a href="about.html">About Us</a></li>
				<li class="menu_mm"><a href="services.html">Services</a></li>
				<li class="menu_mm active"><a href="portfolio.html">Portfolio</a></li>
				<li class="menu_mm"><a href="blog.html">Blog</a></li>
				<li class="menu_mm"><a href="contact.html">Contact</a></li>
			</ul>
		</div>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(https://github.com/Junisses/PlantillaProyCIDEF/blob/main/PetShop/gestorProducto/static/img/arriendo.jpeg?raw=true)"></div>
		</div>
		
		<div class="home_title">
			<h2>Repuestos</h2>
			<div class="next_section_scroll">
				<div class="next_section nav_links" data-scroll-to=".portfolio">
					<i class="fas fa-chevron-down trans_200"></i>
					<i class="fas fa-chevron-down trans_200"></i>
				</div>
			</div>
		</div>
	
	</div>

	<!-- Portfolio -->

	<div class="portfolio">
		
		<div class="container">
			<div class="row">
				
				<div class="col">
					<div class="portfolio_categories button-group filters-button-group">
						<ul>
							<li class="portfolio_category active is-checked" data-filter="*">all</li>
							<li class="portfolio_category" data-filter=".graphic_design">Foton</li>
							<li class="portfolio_category" data-filter=".branding">Dongfeng</li>
							<li class="portfolio_category" data-filter=".web_design">Kawasaki</li>
							<li class="portfolio_category" data-filter=".motion_graphic">Lamborgini</li>
						</ul>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col">
					
					<div class="portfolio_items product-grid">

						<!-- Portfolio Item -->
						<div class="card branding">
							<div class="card_image">
								<img class="card-img-top" src="https://cdn.autobild.es/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2019/08/prueba-dongfeng-dfsk-glory-580_4.jpg?itok=UTW8mcSO" alt="image by https://unsplash.com/@heysupersimi">
							</div>
							
							<div class="card-body">
								<div class="card-header">categoria</div>
								<div class="card-title">DFSK 580 146 CV Luxury</div>
								<div class="card-text">El DFSK Glory 580 representa la incursión en el segmento de SUV medianos por parte de la multinacional china Dongfeng Motor Corporation, accionista del grupo PSA.
									El SUV DFSK 580 es la incursión de la marca en el mercado generalista, con un crossover familiar de tracción delantera, con capacidad para siete pasajeros, de apariencia moderna y sofisticada, y a uno de los precios más asequibles del mercado.</div>
								<div class="card-link"><a href="portfolio_item.html">Comprar</a></div>
							</div>
						</div>

						<!-- Portfolio Item -->
						<div class="card 3d_generated">
							<div class="card_image">
								<img class="card-img-top" src="https://www.elcarrocolombiano.com/wp-content/uploads/2019/08/20190803-FOTON-TUNLAND-4X4-2020-COLOMBIA-PRECIO-CARACTERISTICAS-01-750x460.jpg" alt="image by https://unsplash.com/@anthonydelanoix">
							</div>
							
							<div class="card-body">
								<div class="card-header">3d generated</div>
								<div class="card-title">Identity branding for company</div>
								<div class="card-text">Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio ves tibul.  Nec odio vestibulum est mattis.</div>
								<div class="card-link"><a href="portfolio_item.html">read more</a></div>
							</div>
						</div>

						<!-- Portfolio Item -->
						<div class="card motion_graphic">
							<div class="card_image">
								<img class="card-img-top" src="https://www.racing5.cl/wp-content/uploads/2016/05/4shvnva0kkl57zqisl2i.jpg" alt="image by https://unsplash.com/@heysupersimi">
							</div>
							
							<div class="card-body">
								<div class="card-header">motion graphic</div>
								<div class="card-title">3D Project for inhouse</div>
								<div class="card-text">Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio ves tibul.  Nec odio vestibulum est mattis.</div>
								<div class="card-link"><a href="portfolio_item.html">read more</a></div>
							</div>
						</div>

						<!-- Portfolio Item -->
						<div class="card graphic_design">
							<div class="card_image">
								<img class="card-img-top" src="https://i0.wp.com/clipset.com/wp-content/uploads/2013/11/kawasaki-three-wheeler.jpg?ssl=1" alt="image by https://unsplash.com/@anthonydelanoix">
							</div>
							
							<div class="card-body">
								<div class="card-header">graphic design</div>
								<div class="card-title">Identity branding for company</div>
								<div class="card-text">Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio ves tibul.  Nec odio vestibulum est mattis.</div>
								<div class="card-link"><a href="portfolio_item.html">read more</a></div>
							</div>
						</div>

						<!-- Portfolio Item -->
						<div class="card web_design">
							<div class="card_image">
								<img class="card-img-top" src="https://i.blogs.es/fcea41/dfsk-ix5/1366_2000.jpg" alt="image by https://unsplash.com/@heysupersimi">
							</div>
							
							<div class="card-body">
								<div class="card-header">web design</div>
								<div class="card-title">3D Project for inhouse</div>
								<div class="card-text">Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio ves tibul.  Nec odio vestibulum est mattis.</div>
								<div class="card-link"><a href="portfolio_item.html">read more</a></div>
							</div>
						</div>

					</div>
						
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-4">

					<!-- Footer Intro -->
					<div class="footer_intro">

						<!-- Logo -->
						<div class="logo footer_logo">
							<a href="#">CIDEF<span>CHILE</span></a>
						</div>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae enim enim. Sed nec dignissim purus.</p>
						
						<!-- Social -->
						<div class="footer_social">
							<ul>
								<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fab fa-behance"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>

				</div>
				
				<!-- Footer Services -->
				<div class="col-lg-2">

					<div class="footer_col">
						<div class="footer_col_title">Servicios</div>
						<ul>
							<li><a href="#">Social media</a></li>
							<li><a href="#">Management</a></li>
							<li><a href="#">Branding</a></li>
						</ul>
					</div>
					
					<div class="footer_col">
						<div class="footer_col_title">otros</div>
						<ul>
							<li><a href="#">Social media</a></li>
							<li><a href="#">Management</a></li>
							<li><a href="#">Branding</a></li>
						</ul>
					</div>

				</div>

				<!-- Footer Menu -->
				<div class="col-lg-2">

					<div class="footer_col">
						<div class="footer_col_title">Menu</div>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About us</a></li>
							<li><a href="services.html">Services</a></li>
							<li><a href="#">Portfolio</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li><a href="#">Testimonials</a></li>
						</ul>
					</div>

				</div>

				<!-- Footer About -->
				<div class="col-lg-2">

					<div class="footer_col">
						<div class="footer_col_title">About us</div>
						<ul>
							<li><a href="#">The team</a></li>
							<li><a href="#">History</a></li>
							<li><a href="#">Company</a></li>
							<li><a href="#">Support</a></li>
						</ul>
					</div>

				</div>

				<!-- Footer Community -->
				<div class="col-lg-2">

					<div class="footer_col">
						<div class="footer_col_title">Community</div>
						<ul>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Forums</a></li>
							<li><a href="#">Q&A</a></li>
							<li><a href="#">Purposes</a></li>
						</ul>
					</div>

				</div>

			</div>
		</div>
	</footer>

</div>
<script src="https://kit.fontawesome.com/2c36e9b7b1.js"></script>
<script src="{% static '/js/main.js' %}"></script>
<script src="{% static '/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static '/js/styles/bootstrap4/popper.js' %}"></script>
<script src="{% static '/js/styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static '/js/plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static '/js/plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static '/js/plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static '/js/plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static '/js/plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static '/js/plugins/Isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static '/js/plugins/scrollTo/jquery.scrollTo.min.js' %}"></script>
<script src="{% static '/js/plugins/easing/easing.js' %}"></script>
<script src="{% static 'js/portfolio_custom.js' %}"></script>
</body>
{% endblock %}