{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% block contenido%}
	<form method="post" action="." enctype="multipart/form-data">
			<div class="card-body">
				<div class="form-group">
					<label>Localidades: </label>
					{{ form.localidades }}
				</div>
				<div class="form-group">
					<label>Comunas: </label>
					{{ form.comunas }}
				</div>
			</div>
	</form>
	<script>
	

	$(function () {
			$('select[name="localidades"]').on('change', function () {
				var id = $(this).val();
				var select_comunas = $('select[name="comunas"]');
				var options = '<option value="">---------</option>';
				$.ajax({
					url: window.location.pathname,
					type: 'POST',
					data: {
						'action': 'search_comuna_id',
						'id': id
					},
					dataType: 'json',
				}).done(function (data) {
					if (!data.hasOwnProperty('error')) {
						$.each(data, function (key,value) {
							options += '<option value ="'+value.id+'">'+value.name+'</option>';
						});
						return false;
					}
					}).fail(function(jqXHR, textStatus, errorThrown) {
						alert(textStatus + ': ' + errorThrown);
					}).always(function(data) {
						select_comunas.html(options);
					});
			});
		});
	</script>

{% endblock %}